.app__logout{
    padding: 10px 5px;
    background-color: rgb(90, 83, 220);
    border-right: 1px solid white;
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    .labeled{
        display: flex;
        flex-direction: column;
        label{
            margin-bottom: auto;
            font-size: 1.3rem;
            font-style:italic;
        }
        span{
            font-size: .7rem;
            color: white;
        }
    }
    svg{
        font-size: 1.2rem;
        color: white;
        cursor: pointer;
        margin-left: auto;
        transition-duration:.5s ;
        &:hover{
            color: red;
        }
    }
    button{
        border: 1px solid rgb(90, 83, 220);
        padding: 8px 25px;
        border-radius:8px;
        background-color: transparent;
        cursor: pointer;
    }
}